In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("F:\\REGex\\CSV files\\covid_toy.csv")

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
x=df.drop(columns=["age","gender","cough","city","has_covid"])

In [5]:
y=df["has_covid"]

In [6]:
x.shape,y.shape

((100, 1), (100,))

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [9]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((80, 1), (80,), (20, 1), (20,))

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc=StandardScaler()

In [12]:
train_fit=sc.fit_transform(x_train)

In [13]:
test_fit=sc.transform(x_test)

In [15]:
train_data=pd.DataFrame(train_fit,columns=x_train.columns)

In [17]:
np.round(train_data.describe(),1)

       fever
count   71.0
mean    -0.0
std      1.0
min     -1.5
25%     -0.7
50%      0.0
75%      1.0
max      1.5