In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("F:\\REGex\\CSV files\\covid_toy.csv")

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
x=df.drop(columns=["gender","cough","city","has_covid"])

In [7]:
y=df["has_covid"]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=38)

In [10]:
x_train.shape,x_test.shape

((80, 2), (20, 2))

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
mm=MinMaxScaler()

In [13]:
train_fit=mm.fit_transform(x_train)

In [14]:
test_fit=mm.transform(x_test)

In [15]:
train_data=pd.DataFrame(train_fit,columns=x_train.columns)

In [21]:
np.round(train_data.describe(),1)

        age  fever
count  80.0   71.0
mean    0.5    0.5
std     0.3    0.3
min     0.0    0.0
25%     0.2    0.2
50%     0.4    0.5
75%     0.8    0.7
max     1.0    1.0